/* contact.css */

.contact {
    padding: 100px 20px; /* Adding top padding to compensate for fixed header */
    text-align: center;
}

.contact-info {
    margin-bottom: 40px;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2em;
    color: #666;
}

.contact-details {
    margin-top: 20px;
}

.contact-details p {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.contact-details i {
    margin-right: 10px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .form-group textarea {
    resize: vertical;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
